*{
    box-sizing: border-box;
}

.home{
    width: 100%;
    background-color: #191919;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 0px 50px;
}

.ornament{
    color: #fff;
    position: absolute;
    top: 300px;
    right: -2px;
    z-index: 0;
}

.container-home{
    max-width: 1500px;
    margin: 0px auto;
}

.header-home{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid #2f2f2f;
    margin-bottom: 50px;
}

.brand-home{
    margin: 0;
    padding: 0;
}

.brand-home h1{
    font-size: 25px;
    color: #C9AC8C;
    margin: 0;
}

.nav-home{
    height: auto;
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.nav-home ul{
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    margin: 0;
}

.nav-home li{
    padding: 16px 0;
    margin-right: 40px;
    position: relative;
}

.nav-home li::after{
    content: "";
    position: absolute;
    border-bottom: 5px solid transparent;
    height: 100%;
    width: 100%;
    bottom: -14px;
    left: 0;
}

.nav-home li:hover::after{
    border-bottom: 5px solid #fff;
    cursor: pointer;
}

.user-img{
    width: 50px;
    height: 50px;
}

.user-img img {
    width: 100%;
    height: 100%; 
    border-radius: 50%;
}

.banner-home{
    position: relative;
    margin-bottom: 140px;
}
.banner-img{
    position: relative;
    width: 1260px;
    height: 347px;
    border-radius: 15px;
    margin: 0 auto;
    z-index: 2;
    overflow: hidden;
}

.bannerImg{
    width: 450px;
    height: 345px;
    position: absolute;
    border-radius: 0 15px 15px 0;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.bannerBG{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.banner-img .div1{
    width: 300px;
    font-size: 62px;
    line-height: 62px;
    text-transform: uppercase;
    color: #C9AC8C;
    position: absolute;
    top: 45px;
    left: 85px;
    z-index: 3;
}

.slider-button{
    position: absolute;
    top: 255px;
    left: 85px;
    z-index: 3;
    display: flex;
}

.slider-button span{
    height: 3px;
    width: 50px;
    background-color: rgba(255, 255, 255, 1);
    margin-right: 10px;
}

.starBG{
    color: #fff;
    position: absolute;
    top: 90px;
    left: -60px;
    z-index: 3;
}

.starBG1{
    color: #fff;
    position: absolute;
    top: -185px;
    left: 390px;
    z-index: 3;
}

.starBG2{
    color: #fff;
    position: absolute;
    top: 125px;
    left: 570px;
    z-index: 3;
}

.starDot{
        color: #fff;
    position: absolute;
    top: 230px;
    left: 628px;
    z-index: 3;
}

.starDot1{
    color: #fff;
    position: absolute;
    top: 195px;
    left: -2px;
    z-index: 3;
}

.starDot2{
    color: #fff;
    position: absolute;
    top: -54px;
    left: 445px;
    z-index: 3;
    transform: rotate(135deg);
}

.search-div{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 170px;
    background-color: #191919;
    top: 295px;
    left: 150px;
    border-radius: 15px;
    z-index: 3;
}

.search-div input{
   width: 710px;
   height: 47px;
   background-color: #404040;
   border: 0px;
   border-radius: 15px;
   color: rgba(255, 255, 255, 0.3);
   font-size: 14px;
   padding-left: 27px;
   margin-right: 10px;
}

.search-div h2{
   size: 31px;
   text-align: center;
   text-transform: uppercase;
   color:#C9AC8C;
   display: block;
}

.search-div form button{
   width: 160px;
   height: 47px;
   background-color: #C9AC8C;
   color: #3C2710;
   border-radius: 15px;
} 

.main-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-home h2{
    color: #C9AC8C;
    size: 31px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.main-home ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
    text-align: center;
    margin-bottom: 45px;
}

.main-home li:last-child{
    margin-right: 0px;
}

.main-home li{
    margin-right: 70px;
    padding: 0px;
    color: rgba(255, 255, 255, 1);
    z-index: 3;
}

.main-home li:hover{
    color: #C9AC8C;
    cursor: pointer;
}

.katalog{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.katalog-item{
    width: 174px;
    height: 237px;
    border-radius: 15px;
    background: linear-gradient(209.09deg, #191919 -1.68%, #212121 135.36%);
    position: relative;
    overflow: hidden;
    margin: 0 20px 30px 20px;
    z-index: 1;
}

.cardNaqishLG{
    color: #fff;
    position: absolute;
    top: 70px;
    left: 95px;
    z-index: 0;
}

.cardNaqishSM{
    color: #fff;
    position: absolute;
    top: 192px;
    left: 0px;
    z-index: 0;
}

.item-text{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-text h3{
    font-size: 20px;
    color: #C9AC8C;
    display: block;
    margin-bottom: 0px;
    margin-top: 5px;
}

.item-text p{
    size: 12px;
    color: rgba(255, 255, 255, 0.6);
}

.item-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.book-item{
    width: 165px;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 10px 30px;
    z-index: 1;
}

.book-item img{
    width: 100%;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.book-item h3{
    font-size: 20px;
    color: #C9AC8C;
    margin-bottom: 5px;
}

.book-item p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0px;
}

.book-item span{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}